.carousel-inner .item a img {
    height: 450px;
}
.carousel-caption {
	padding-bottom: 0px;
}
.carousel-caption a {
	
	color: #dddddd;
	text-decoration: none;
	outline: none;
	font-size:18px;
}

.course-first{
    padding-left: 7px;
    padding-right: 7px;
}
.course-first img{
    height: 285px;
}

.course-first embed{
    max-width:385px;
    max-height:285px;
}
.course-list{
    padding-left: 7px;
    padding-right: 7px;
}
.course-list embed{
    max-width:170px;
    max-height:127px;
}
.course-menu{
    padding-left: 0px;
    padding-right: 0px;
    background-color: #0044cc ;
    height: 300px;
}
.list-group{
    border-radius:0px;

}
.list-group-item{
    border: 0px;
    background-color: #0044cc ;
}

.list-group-item a {
    color: #fff;
    text-decoration: none;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0;
}
.user-photo{
    height: 155px;
    max-width: 155px;
}

@media screen and (max-width: 767px) {
    .carousel-inner .item img {
        height: 200px;
    }
    .course-first img{
        width: 100%;
        height: 185px;
    }
    .course-list img{
        width: 100%;
        height: 185px;
    }
}