html {
    position: relative;
    min-height: 100%;
}
body {
    padding-bottom: 210px;
}
.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.form-control{
	height: 50px;
}

