.page-header{
    margin-top: 0px;
}
.user-info img{
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
}
.menu-border{
    border-top: 1px solid #cccccc;
    height: 40px;
}

.list-border a{
    margin-top: 10px;
}