/*
hm55.cn custom style
*/
.margin-center{
    margin-left: auto;
    margin-right: auto;
}
.border{
    border: 1px solid #dddddd;
}
.border-left{
    border-left: 1px solid #dddddd;
}

/*
    Margin Top
 */
 */
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-40{
    margin-top: 40px;
}
.mt-f10{
    margin-top: -10px;
}
.mt-f20{
    margin-top: -20px;
}
.mt-f30{
    margin-top: -30px;
}
.mt-f40{
    margin-top: -40px;
}

/*
    Margin Bottom
 */
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}

/*
    Margin Left
 */
.ml-10{
    margin-left: 10px;
}
.ml-20{
    margin-left: 20px;
}
.ml-30{
    margin-left: 30px;
}
.ml-40{
     margin-left: 40px;
 }

/*
    Margin Right
 */
.mr-15{
    margin-right: 15px;
}
.mr-20{
    margin-right: 20px;
}
.mr-30{
    margin-right: 30px;
}

/*
    Margin Left Right
 */
.mlr-30{
    margin-left: 30px;
    margin-right: 30px;
}

/*
    Padding Top
 */
.pt-10{
    padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}

/*
    Pading Bottom
 */
.pb-20{
    padding-bottom: 20px;
}
.pb-40{
    padding-bottom: 40px;
}

/*
  Padding Clear
 */
.pb-clear{
     padding-bottom: 0px;
 }
.pl-clear{
    padding-left: 0px;
}
.pt-clear{
    padding-top: 0px;
}
.pr-clear{
    padding-right: 0px;
}